* { /* General Reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font: 10px;
}
body {
    font-family: 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    color: #333333;
}
/* Image styling */
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.img-holder {
    justify-content: center;
} /* End of Image styling */
.flexera { /* Makes target a flex container */
    display: flex;
}
.flex-col { /* Set flex direction to column */
    flex-direction: column;
}
.flex-row { /* Set flex direction to row */
    flex-direction: row;
}
.centering { /* Centers flex container */
    align-items: center;
    justify-content: center;
}
.centa { /* Centers text */
    text-align: center;
}
/* Layout cosmetics*/
#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background-color: #E6E6E6;
}
@media screen and (max-width: 700px) {
    #main {
        /* margin: 0; */
        min-width: 400px;
    }
    ul {
        padding: 0 20px 0;
    }
    .footer-text {
        text-align: center;
    }
}
#img-caption {
    padding: 12px 0;
}
.img-holder {
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 30px 0 0 0;
}
ul {
    max-width: 550px;
    text-align: left;
}
li {
    margin: 0 auto 16px auto;
}
li:last-child {
    margin-bottom: 0;
}
blockquote {
    max-width: 545px;
    margin: 50px auto;
}
#headline {
    margin: 50px auto;
}
.cite {
    display: block;
    margin: 16px;
}
.year {
    font-weight: bold;
}